p {
    display: inline-block;
    font-weight: bold;
}

.calanderTitle {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 80%;
    margin: 0 10% 5% 10%;
}

.calanderTitle p {
    font-weight: bold;
}

.before,
.after {
    display: flex;
    align-items: center;
}

.beforeYear {
    margin-right: 10px;
}

.afterYear {
    margin-left: 10px;
}

.beforeMonth,
.afterMonth {
    font-size: 14px;
}

table {
    width: 80%;
    margin: 0 10% 10% 10%;
    height: 28vh;
    table-layout: fixed;
}

th {
    font-size: 14px;
}

.week td {
    text-align: center;
    cursor: auto;
}

.sunColor {
    color: rgb(255, 88, 88);
}

.satColor {
    color: rgb(50, 179, 230);
}


.deadLineCheckBox {
    width: 80%;
    margin: 0 10% 5% 10%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.radioForMonth {
    width: 80%;
    display: none;
    /*flex*/
    flex-wrap: wrap;
    margin: 5% 10%;
}

.forMonth {
    display: block;
    width: 100%;
}

.periodLabel {
    width: 23%;
    height: 5vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.1vw;
    font-weight: bold;
    cursor: pointer;
}

.periodLabel input {
    appearance: none;
    margin: 0;
}

.deadLineCheckBox button {
    font-size: 1.1vw;
    font-weight: bold;
    width: 23%;
}

.initBtn {
    cursor: pointer;
}