* {
    /* border: 0.5px solid red; */
}

body {
    margin: 0 !important;
}

.wrap {
    width: 75%;
    display: flex;
}

/* ==============차트 영역============== */


.chartArea {
    width: 30vw;
    margin: 0 0 0 3%;

}

.forFixed {
    border: 2px solid rgba(0, 0, 0, 0.2);
    border-radius: 15px;
    border-style: dashed;
    width: 30vw;
    position: fixed;
    top: 15vh;
}

/* 원형 그래프 */
.pieChart {
    width: 60%;
    aspect-ratio: 1/1;
    border-radius: 100%;
    margin: 0 20%;
}


.taskAtChartDiv {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    width: 80%;
    margin: 10%;
}

.taskAtChart {
    width: 50%;
    display: flex;
    margin: 3% 0;
}

.taskOdd {
    justify-content: flex-end;
}

.taskAtChart p {
    display: inline-block;
    margin: 0;
    padding-left: 5%;
    padding-top: 2%;
}

.taskColor {
    width: 25px;
    height: 25px;
    margin: auto 0;

    /* 임시 */
    background-color: pink;
}

.taskScore {
    width: 50%;
    margin: auto 3%;
    height: 20px;
}

.taskAtChart i {
    margin: auto 2%;
    font-size: 22px;
    cursor: pointer;
}



/*  ============== 업무 영역 ============== */
.taskArea {
    width: 35vw;
    margin-left: 2%;
}

.checkBoxDiv {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

/* taskArea 공통 */
li {
    list-style: none;
}

li p {
    display: inline-block;
    margin: 0;
}

.forFlex {
    display: inline-block;
}

/* root  ul*/
.divisionUl {
    padding: 0;
    list-style: none;
}

/* root li */
.divisionLi {
    margin-left: 5%;
    padding-bottom: 2%;
    border-bottom: 2px solid rgba(0, 0, 0, 0.2);
}

.taskAtListDiv {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 8px;
}

/* root li - label div*/
.taskAtList,
.taskAtList2 {
    display: flex;
    margin: 2% 0;
}

.listImg {
    display: block;
    width: 25px;
    height: 25px;
    margin-top: 5px;
    background-color: cadetblue;
}

.taskAtList p,
.taskAtList2 i {
    font-size: 22px;
    font-weight: bolder;
    margin-left: 7px;
}

.taskAtList2 i {
    font-size: 27px;
    cursor: pointer;
    margin-top: 2px;
}

/* 함께하는 친구List */
.withFriends {
    display: flex;
    justify-content: center;
    width: 110px;
}

.friendImg,
.openImgsModal {
    width: 30px;
    aspect-ratio: 1/1;
    border-radius: 100%;
    margin: 2%;
}

.openImgsModal {
    display: flex;
}

.openImgsModal i {
    font-size: 20px;
    margin: auto;
}


/* second ul */
.subDivisionUl {
    padding: 0 7% 0 11%;
    overflow: hidden;
    max-height: 0;
    transition: max-height 0.2s ease-out;
}

.subDivisionDiv {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.subDiviList {
    display: flex;
}

.subDiviList i {
    margin-top: 7px;
}

.subDiviList p {
    margin-bottom: 2%;
    padding-left: 7px;
    font-size: 18px;
    font-weight: bold;
}

.forI i {
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
}


/* last ul */
.taskUl {
    padding: 0 7% 0 2%;
    margin-bottom: 5%;
    overflow: hidden;
    max-height: 0;
    transition: max-height 0.2s ease-out;
}

.taskDiv {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 5px;
}

.taskNameDiv {
    display: flex;
    justify-content: baseline;
    align-items: center;
    margin-bottom: 1%;
}


.taskNameDiv p,
.until {
    font-size: 16px;
    font-weight: normal;
    padding-left: 7px;
}

.taskNameDiv i {
    position: relative;
    top: 1px;
}

.until {
    font-size: 16px;
    font-weight: normal;
}


/* 친구 확인 모달 */
.modalBGAtCheckTodo {
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.1);
    z-index: 5;
    position: fixed;
    top: 0;
}

.workingFriendsModal {
    width: 25%;
    height: 70%;
    position: absolute;
    top: 15%;
    left: 25%;
    border-radius: 15px;
    /* overflow-y: scroll;
    overflow-x: hidden; */
}

.innerModalAtCheckTodo {
    width: 80%;
    height: 88%;
    margin: 10%;
    border: 1px solid red;
    overflow-y: scroll;
    overflow-x: hidden;
}

.innerModalAtCheckTodo::-webkit-scrollbar{
    width: 10px;
}

.innerModalAtCheckTodo::-webkit-scrollbar-thumb {
    border-radius: 10px;
}

.workingFriendsImgDiv {
    width: 80%;
    margin: 0 10% 8% 10%;
    padding: 2%;
    display: flex;
    flex-wrap: wrap;
    border-radius: 10px;
}

.workingFriendsImg {
    width: 17%;
    margin: 1.5%;
    aspect-ratio: 1/1;
    border-radius: 100%;
}