:root {
    --bgColor: white;
    --textColor: black;
    --pointColor: pink;
    /* 다크모드 시 blurColor rgba(255, 255, 255, 0.4) */
    --blurColor: rgba(0, 0, 0, 0.2);
    --titleIconLeft: url('../img/rocketLeft.png');
    --titleIconRight: url('../img/rocketRight.png');
}

/* 공통 css */
body {
    margin: 0 !important;
}

.wrap {
    width: 75%;
    display: flex;
}


/* 테마 CSS */
/* 배경색 */
.BGColor {
    background-color: var(--bgColor);
}

.textColorBut {
    background-color: var(--textColor);
}


/* 텍스트 색*/
.textColor {
    color: var(--textColor);
}

.BGColorBut {
    color: var(--bgColor);
}


/* 버튼 보더 색 */
.borderColor {
    border: 1px solid var(--textColor);
}

/* 포인트컬러 */
.pointColorForText {
    color: var(--pointColor);
}

.pointColorForBorder{
    border: 1px solid var(--pointColor);
}

.pointColorForBG{
    background-color: var(--pointColor);
}

/* 흐린 윤곽선 */
.blurLineColor {
    border-color: var(--blurColor) !important;
}

/* 흐린 배경 */
.blurBGColor {
    background-color: var(--blurColor);
}

.blurTextColor {
    color: var(--blurColor);
}

/* 스크롤바 색*/
.alarmDiv::-webkit-scrollbar-thumb,
.friendArea::-webkit-scrollbar-thumb,
.scroll::-webkit-scrollbar-thumb {
    background-color: var(--textColor);
    border-radius: 10px;
}


/* 타이틀 관련 */
.titleDiv {
    width: 75%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2%;
}

.titleDiv i {
    font-size: 2vw;
}

.title {
    display: inline-block;
    font-size: 1.8vw;
    font-weight: bold;
    margin: 0;
}

.titleIconLeft,
.titleIconRight {
    width: 2.5vw;
    height: 2.5vw;
    margin: 0 2%;

    /* 사진 띄우기 위해 필요한 것들 */
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.titleIconLeft {
    background-image: var(--titleIconLeft);
}

.titleIconRight {
    background-image: var(--titleIconRight);
}

/* 모달 관련 */
.modalBGAtPage {
    width: 100vw;
    height: 100vh;
    z-index: 5;
    position: fixed;
    top: 0;

    display: none;
}

.modalAtPage {
    aspect-ratio: 3/2;
    height: 70%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 15px;
    box-sizing: border-box;
}

.checkAtModalDiv {
    width: 100%;
    height: 10%;
    margin: 3% 0;
    position: absolute;
    bottom: 0%;
}

.checkAtModal {
    width: 30%;
    height: 90%;
    font-size: 18px;
    border-radius: 30px;
    margin: 0 35%;
    cursor: pointer;
}