/* 테마 CSS */
/* 배경색 */
.BGColor {
    background-color: white;
}

.textColorBut {
    background-color: black;
}

/* 텍스트 색 + 버튼 보더 색 + 스크롤바 색*/
.textColor {
    color: black;
}

.BGColorBut{
    color: white;
}

.borderColor {
    border: 1px solid black;
}

.alarmDiv::-webkit-scrollbar-thumb,
.friendArea::-webkit-scrollbar-thumb {
    background-color: black;
    border-radius: 10px;
}