/* 배경 CSS */
body {
    height: 100%;
    background-color: black !important;
}

.name {
    width: 100%;
}

/* 뒤로가기 버튼 */
.backToLogIn {
    position: absolute;
    bottom: 10%;
    left: 5%;
    font-size: 20px;
    z-index: 3;
    color: white;
}

.backToLogIn p {
    display: inline-block;
    margin: 0;
    vertical-align: middle;
    cursor: pointer;
}

.backToLogIn img {
    height: 30px;
    width: 30px;
    margin: 0;
    vertical-align: middle;
    cursor: pointer;
}

/* fade in 애니메이션 */
.fadeIn {
    display: block !important;
    animation: fadeIn 1s forwards;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

/* fade out 애니메이션 */
.fadeOut {
    display: none !important;
    animation: fadeOut 0.5s forwards;
}

@keyframes fadeOut {
    100% {
        opacity: 0;
    }

    0% {
        opacity: 1;
    }
}