/* 배경 CSS */
.wrap {
    position: absolute;
    height: 100vh;
    width: 100vw;
    background-color: black !important;
    overflow: hidden;
}

/* 회원가입 창 관련 CSS */
.box {
    /* 화면정가운데 오게 하기기 */
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* pw input + visible 버튼 */
.joinUsPw img {
    height: 30px;
    width: 30px;
    margin: 0 1.6%;
    vertical-align: middle;
    cursor: pointer;
}

.joinUsPw input {
    width: 40.5%;
}

.name {
    width: 100%;
}

/* 회원가입 창 관련 CSS 끝*/


/* 뒤로가기 버튼 */
.backToLogIn {
    position: absolute;
    bottom: 10%;
    left: 5%;
    font-size: 20px;
    z-index: 3;
    color: white;
}

.backToLogIn p {
    display: inline-block;
    margin: 0;
    vertical-align: middle;
    cursor: pointer;
}

.backToLogIn img {
    height: 30px;
    width: 30px;
    margin: 0;
    vertical-align: middle;
    cursor: pointer;
}

/* fade in 애니메이션 */
.fadeIn {
    display: block !important;
    animation: fadeIn 1s forwards;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

/* fade out 애니메이션 */
.fadeOut {
    display: none !important;
    animation: fadeOut 0.5s forwards;
}

@keyframes fadeOut {
    100% {
        opacity: 0;
    }

    0% {
        opacity: 1;
    }
}