* {
    /* border: 0.2px solid red; */
    box-sizing: border-box;
}

.logInBody {
    margin: 0;
    height: 100%;
    width: 100%;

    /* 스크롤 안생기게 막기 */
    overflow: hidden;
}

.wrap {
    position: absolute;
    height: 100vh;
    width: 100vw;
}

/* 배경 CSS */
.bgBlock {
    border: none;
    position: relative;
    height: 100vh;
    overflow: visible;
}

.logInBG {
    width: 60vw;
    border-bottom: 100vh solid black;

    /* poligon: 도형 자르기. 왼쪽 위, 오른쪽 위, 오른쪽 아래, 왼쪽 아래 순서. x y */
    clip-path: polygon(0 0, 70% 0%, 100% 100%, 0% 100%);
    position: absolute;
    top: 0;
    left: 0;
}

.logInBG2 {
    background-color: black;
    height: 100vh;
    width: 62vw;
    clip-path: polygon(69% 0, 71% 0%, 100% 100%, 98.1% 100%);
    position: absolute;
    top: 0;
    left: 0;
}

.blackCover {
    position: absolute;
    top: 0;
    left: 0;
    /* 임시 (원래 20%엿음) */
    width: 20%;
    height: 100%;
    background-color: black;
    z-index: 1;
    border: none;
}
/* 배경 CSS 끝 */

/* 로그인창 관련 CSS */
.logInBox {
    position: fixed;
    top: 20%;
    right: 0;
    width: 50%;
    height: 100vh;
}

.logInBox h1 {
    text-align: center;
    font-size: 50px;
}

.logInBox input,
.logInBox div {
    width: 300px;
    border: 1px solid black;
}

/* ID, 비밀번호 입력 인풋 CSS */
.IDPW {
    /* 1줄 당 1개씩만 정렬 */
    display: grid;
    grid-template-columns: repeat(1, 1fr);

    height: 8%;
    margin: 10px auto;
    padding-left: 10px;
    border-radius: 5px;
    font-size: 18px;
}

/* 로그인 버튼 CSS */
.logInBox div {
    height: 50px;
    border-radius: 20px;
    text-align: center;
    margin: 5% auto 0 auto;
    /* cursor: pointer; */
    background-color: white;

    /* 버튼 내 text 가운데 정렬 */
    display: flex;
    justify-content: center;
    align-items: center;
}

/* 회원가입~비밀번호찾기 CSS */
.logInBox ul {
    /* display: flex; */
    padding: 0;
    margin: 0;
    text-align: center;
}

.logInBox li {
    /* 부모 요소가 text-align: center;일 때 가운데 정렬됨. */
    display: inline-block;

    text-align: center;
    list-style: none;
    color: #a7a7a7;
    font-size: 14px;
    cursor: pointer;
}

.logInBox li:not(:last-child)::after {
    content: ' |';
}

/* 회원가입, 아이디 찾기, 비밀번호 찾기 공통 CSS */
.joinUs, .findIdWindow, .findPwWindow {
    z-index: 3;
    color: white;
    width: 600px;
    height: 100%;
    display: none;
}

.joinUs h1, .findIdWindow h1,.findPwWindow h1{
    text-align: center;
}

.joinUs input, .findIdWindow input, .findPwWindow input{
    margin: 20px 0;
    height: 50px;
    border-radius: 5px;
    padding-left: 10px;
    font-size: 17px;

    /* input img 등등 한 줄로 정렬하고 싶을 때. 다른 쪽도 추가해야함. */
    vertical-align: middle;
}

.forCheck {
    display: none;
    font-size: 14px;
}

.joinUsBtn {
    display: inline-block;
    width: 30%;
    height: 50px;
    margin: 20px 0 20px 10px;
    background-color: white;
    color: black;
    border-radius: 50px;
    vertical-align: middle;
    text-align: center;
    line-height: 50px;
    cursor: pointer;
}

.input80 {
    width: 67.7%
}
/* 공통부분 CSS 끝 */


/* 회원가입 창 관련 CSS */
.joinUs {
    /* 화면정가운데 오게 하기기 */
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* id input + 중복확인 버튼 */
.joinUsPw img {
    height: 30px;
    width: 30px;
    margin: 20px 10px;
    vertical-align: middle;
    cursor: pointer;
}

.joinUsPw input {
    width: 40.5%;
}

.name {
    width: 100%;
}
/* 회원가입 창 관련 CSS 끝*/


/* 아이디 찾기 관련 CSS */
.findIdWindow {
    /* 화면정가운데 오게 하기기 */
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.helloBox{
    border: 2px solid white;
    width: 100%;
    height: 100px;
    text-align: center;
    font-style: italic;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px 0 50px 0;
}

.findPWBtn {
    height: 50px;
    width: 70%;
    border-radius: 30px;
    text-align: center;
    margin: 0 auto;
    cursor: pointer;
    background-color: white;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}


/* 비밀번호 찾기 관련 CSS */
.findPwWindow {
    /* 화면정가운데 오게 하기기 */
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
}




/* 뒤로가기 버튼 */
.backToLogIn {
    position: absolute;
    bottom: 10%;
    left: 5%;
    font-size: 20px;
    z-index: 3;
    color: white;

    /* 임시 */
    display: none;
}

.backToLogIn p {
    display: inline-block;
    margin: 0;
    vertical-align: middle;
    cursor: pointer;
}

.backToLogIn img {
    height: 30px;
    width: 30px;
    margin: 0;
    vertical-align: middle;
    cursor: pointer;
}

/* fade in 애니메이션 */
.fadeIn {
    display: block !important;
    animation: fadeIn 1s forwards;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

/* fade out 애니메이션 */
.fadeOut {
    display: none !important;
    animation: fadeOut 0.5s forwards;
}

@keyframes fadeOut {
    100% {
        opacity: 0;
    }

    0% {
        opacity: 1;
    }
}