* {
    /* border: 0.2px solid red; */
    box-sizing: border-box;
}

Body {
    margin: 0;
    height: 100%;
    width: 100%;
}

.wrap {
    position: absolute;
    height: 100vh;
    width: 100vw;

    /* 오차 줄이기. 대신 font-size는 각각 줘야함. */
    font-size: 0;
}

/* 회원가입, 아이디 찾기, 비밀번호 찾기 공통 CSS  */
.box {
    z-index: 3;
    color: white;
    width: 46%;
    max-width: 600px;
    min-width: 450px;

    /* 화면정가운데 오게 하기기 */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.box h1 {
    text-align: center;
    font-size: 32px;
    margin-top: 0;
    margin-bottom: 50px;
}

.box input {
    height: 50px;
    border-radius: 5px;
    padding-left: 10px;
    font-size: 17px;
    outline: none;
    border: none;
    /* input img 등등 한 줄로 정렬하고 싶을 때. 다른 쪽도 추가해야함. */
    vertical-align: middle;
}

.forCheck {
    display: block;
    margin: 0 0 20px 0;
    padding-left: 2px;
    font-size: 14px;
}

.regBtn {
    display: inline-block;
    width: 30%;
    height: 50px;
    margin-left: 2%;
    background-color: white;
    color: black;
    border-radius: 50px;
    vertical-align: middle;
    text-align: center;
    line-height: 50px;
    cursor: pointer;
    font-size: 16px !important;
}

.findPWBtn {
    height: 50px;
    width: 70%;
    border-radius: 30px;
    text-align: center;
    margin: 0 auto;
    cursor: pointer;
    background-color: white;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
}

.input80 {
    width: 68%;
}

.pwCheck {
    display: inline-block;
}

.pwCheck2 {
    margin-left: 49%;
}

/* 에러메시지 */
.erMsg {
    border: 2px solid red !important;
}

/* 버튼 비활성화 */
.deact {
    color: #a7a7a7;
    background-color: #DADADA;
    border: 1px solid #a7a7a7;
    cursor: auto;
}

/* pw input + visible 버튼 */
.joinUsPw input {
    width: 40%;
}

.joinUsPw img {
    height: 30px;
    width: 6%;
    vertical-align: middle;
    cursor: pointer;
}

img.writePw {
    margin: 0 2.5%;
}

img.checkPw {
    margin-left: 2.5%;
    margin-right: 0;
}



/* 뒤로가기 버튼 */
.backToLogIn {
    position: absolute;
    bottom: 10%;
    left: 5%;
    font-size: 20px;
    z-index: 3;
    color: white;
}

.backToLogIn p {
    display: inline-block;
    margin: 0;
    vertical-align: middle;
    cursor: pointer;
}

.backToLogIn img {
    height: 30px;
    width: 30px;
    margin: 0;
    vertical-align: middle;
    cursor: pointer;
}

/* fade in 애니메이션 */
.fadeIn {
    display: block !important;
    animation: fadeIn 0.5s forwards;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

/* fade out 애니메이션 */
.fadeOut {
    animation: fadeOut 0.5s forwards;
}

@keyframes fadeOut {
    100% {
        opacity: 0;
    }

    0% {
        opacity: 1;
    }
}