ul {
    padding: 0;
}

li {
    list-style: none;
    display: inline-block;
}

p {
    display: inline-block;
    margin: 0;
}

i {
    cursor: pointer;
}


.wrap {
    justify-content: center;
    flex-wrap: wrap;
}

.innerWrap {
    width: 60%;
    max-width: 500px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 5%;
}

/* division 선택 드롭다운 메뉴 */
.chooseDivision {
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 3% 0;
}

.dropDown {
    width: 70%;
    aspect-ratio: 7/1;
    margin-right: 4%;
    border-radius: 5px;
    font-size: 18px;
    padding-left: 1%;
}

.dropMenu {
    display: none;
}

.saveBtn {
    width: 30%;
    border-radius: 5px;
    font-size: 18px;
    font-weight: bold;
}

/* divisionName 구역 */
.showDivision {
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 5%;
}

.divisionName {
    display: flex;
    align-items: center;
}

.divisionColor {
    width: 35px;
    aspect-ratio: 1/1;
    background-color: aqua;
    margin-right: 8px;
}

.divisionName p {
    font-size: 22px;
    font-weight: bold;
}

.divisionBtns {
    display: flex;
}

.divisionBtns i {
    font-size: 25px;
    margin-left: 15px;
}


/* subDivision 구역 */
.subDivisionUl {
    width: 80%;
    margin: 0;
    display: none;
}

.subDivisionLi {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 5% 0;
    border-bottom: 1px solid;

    display: none;
}

.showSubDivision {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 4%;
}

.subDivisionName {
    font-size: 18px;
    font-weight: bold;
}

.subDivisionName i {
    margin-right: 5px;
}

.subDivisionBtns i {
    font-size: 20px;
    margin-left: 8px;
}

/* task 구역 */
.taskUl {
    width: 90%;
    margin-bottom: 5%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    overflow: hidden;
    max-height: 0;
    transition: max-height 0.2s ease-out;
}

.taskLi {
    width: 100%;
    /* display: flex; */
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 2% 0;
    display: none;
}

.taskName i {
    margin-right: 5px;
}

/* .until{
    display: flex;
    margin-right: 2%;
} */

.taskBtns {
    display: flex;
    align-items: center;
}

.taskBtns i {
    font-size: 18px;
    margin-left: 15px;
}

/* 모달구역 */
.modalWrap {
    display: flex;
    justify-content: center;
}

/* x버튼 */
.xBtn {
    width: 4%;
    aspect-ratio: 1/1;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    right: 3%;
    top: 3%;
}

.xBtn i {
    font-size: 22px;
}

/* division/subdivision 수정 모달 */
.modiDiviModal {
    width: 80%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 3%;
}

.diviName {
    /* box-sizing: border-box; */
    margin: 20px 0;
    position: relative;
    display: inline-block;
    vertical-align: top;
    width: 60%;
    height: 40px;
}

.diviName label {
    display: inline-block;
    position: absolute;
    top: -10px;
    left: 12px;
    padding: 0 5px;
    font-size: 12px;
    font-weight: bold;
}

.diviNameInput {
    border-radius: 3px;
    width: 98%;
    height: 100%;
    padding: 0 0 0 3%;
    outline: none;
    font-size: 18px;
}

.withFriends {
    width: 100%;
    display: none;
    /*flex*/
    justify-content: center;
    flex-wrap: wrap;
    align-items: flex-start;
}

.friendsListDiv {
    height: 35vh;
    overflow-y: scroll;

    display: none;
}

.scroll::-webkit-scrollbar {
    width: 10px;
}

.scroll::-webkit-scrollbar-thumb {
    border-radius: 10px;
}

.friendsListDiv,
.friendsListTitle,
.searchFriendDiv {
    width: 60%;
    margin-bottom: 3%;
}

.friendsList,
.friendsListTitle,
.searchFriendTitle {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.friendsListTitle p {
    font-size: 14px;
    font-weight: bold;
}

.friendsListTitle button,
.searchFriendTitle button {
    width: 20%;
    aspect-ratio: 5/2;
    border-radius: 3px;
    text-align: center;
    cursor: pointer;
}

.friendsList {
    width: 100%;
    display: none;
}


/* 친구목록 */
.friendsProfile {
    display: flex;
    align-items: center;
}

.friendsImg {
    width: 35px;
    aspect-ratio: 1/1;
    border-radius: 100%;
}

.friendsProfile p {
    margin-left: 10px;
    font-size: 18px;
}

.friendsList {
    margin: 3% 0;
}

.friendsList i,
.searchList i {
    font-size: 20px;
    margin-right: 6%;

    display: none;
}

/* 친구검색 */
.searchFriendTitle {
    margin-bottom: 2%;
}

.searchFriendTitle input {
    width: 75%;
    height: 3.5vh;
    border-radius: 3px;
    padding-left: 2%;
    outline: none;
}

.searchList {
    display: none;
    /*flex*/
    align-items: center;
    justify-content: space-between;
    margin: 3% 0;
}

.searchListDiv {
    height: 32vh;
    overflow-y: scroll;
}

/* TASK 관련 모달 내용 */
.modiTask {
    width: 60%;
    height: 42vh;
    overflow-y: scroll;

    display: none;
}

.friendsListAtTask {
    display: flex;
    align-items: center;
    margin-bottom: 5%;
}

.modiTask p {
    margin-bottom: 2%;
}

.friendsListAtTask .friendsProfile {
    display: flex;
    width: 50px;
    flex-wrap: wrap;
    justify-content: center;
}

.friendsListAtTask .friendsProfile p {
    margin: 0;
    font-size: 14px;
    font-weight: normal;
}

.untilWhen{
    margin-bottom: 5%;
    padding: 5%;
}

.untilWhen p{
    font-size: 14px;
    font-weight: normal;
}

.deadLindTime {
    width: 80%;
    margin: 0 10% 10% 10%;
    display: flex;

    justify-content: center;
}

.deadLindTime input {
    width: 15%;
    height: 30px;
    font-size: 18px;
    border-radius: 5px;
    outline: none;
    border: 1px solid;
    text-align: center;
}

.deadLindTime p {
    margin: 0 3%;
}